@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playball&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
	width: 100%;
	height: 100vh;
  background-color: #0a192f;
	background-size: cover;
	position: relative;
  overflow-x: hidden;
}

